.about-me {
    margin-top: 73px;

    .intro {
        margin-top: 200px;
        margin-bottom: 200px;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 958px) {
            flex-direction: column;
            
            img {
                order: -1;
            }

            text-align: center;
        }

        h1 {
            font-weight: 900;
            line-height: 101px;
            font-size: 72px;
        }

        h4 {
            font-weight: 700;
            font-size: 24px;
            line-height: 27px;
        }

        h1, h4 {
            margin: 0px;
        }

        gap: 25px;
    }

    .info {
        background-color: var(--color-beige-light);
        min-height: 400px;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1414px) {
            flex-direction: column;

            img {
                margin-bottom: 50px;
            }

            padding-left: 25px;
            padding-right: 25px;

            text-align: center;
        }

        .text {
            width: 100%;
            max-width: 700px;
        }

        h1 {
            font-weight: 900;
            line-height: 90px;
            font-size: 64px;
        }

        p {
            font-weight: 400;
            line-height: 27px;
            font-size: 24px;
        }

        h1, p {
            margin: 0px;
        }

        img {
            width: 100%;
            max-width: 528px;
            height: 297px;

            background-color: var(--color-black);

            border-radius: 15px;

            color: var(--color-beige);
        }

        gap: 50px;
    }
}